.auth-input {
    position: relative;
    display: inline-flex;
    width: 100%;
    align-items: center;
    height: fit-content;
    margin-bottom: var(--margin-vertical);
    font-size: var(--font-size-medium);
    font-weight: 400;
    color: var(--text-color);
    border-radius: var(--mini-border-radius);
    border: 1px solid rgb(228, 230, 239);

    &:focus-within {
        border: 2px solid var(--boder-active-color);
    }

    & > * {
        padding: 17px 0px;
    }

    & input {
        width: 100%;
        color: currentColor;
        font-size: var(--font-size-medium);
        flex: 1;
        padding-right: 14px;
    }

    & > .icon {
        display: inline-flex;
        align-items: center;
        font-size: 1.3rem;
        padding-left: 17px;
        margin-right: 8px;
        color: var(--icon-label-color);
    }

    &:hover:not(:focus-within) {
        border: 1px solid var(--black-color);
    }
}

.space {
    margin-right: 12px;
}

.label {
    font-size: var(--font-size-medium);
    font-weight: 400;
    padding: 0px 5px;
    background-color: var(--white-color);
    color: var(--icon-label-color);
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(133% - 32px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, -9px) scale(0.75);
    pointer-events: auto;
    user-select: none;
}
