.default-layout {
   display: flex;
   height: fit-content;
   width: 100%;

   & .sideBar {
      height: fit-content;
      position: relative;
      z-index: 999;
      margin-right: 220px;
   }
}
.modal-sidebar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 9999;
   height: 100%;
   width: 100%;
   background-color: rgba(243, 244, 248, 0.72);
   backdrop-filter: blur(6px);

   .sideBarModal {
      position: absolute;
      background-color: white;
      z-index: 999999;
      height: 100%;
   }
}

.content-layout {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;

   & .page-title {
      position: sticky;
      top: 60px;
      background-color: rgba(243, 244, 248, 0.72);
      backdrop-filter: blur(6px);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 24px 0 24px 24px;
      height: 68px;
      border-bottom: 1px solid rgb(196, 205, 213);
      font-size: var(--font-size-small);
      font-weight: 500;
      color: var(--text-color);
      border-top: 1px solid rgba(196, 205, 213, 1);

      & .button {
         flex: 1;
         display: flex;
         justify-content: flex-end;
         padding-right: 30px;
         gap: var(--small-gap);
      }

      & .title {
         flex: 1;
      }

      & .page-title-item-first {
         margin-right: 24px;
         position: relative;

         &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: rgb(145, 158, 171);
            right: -14px;
         }

         & a:hover {
            text-decoration: underline;
         }
      }

      & .page-title-item-middle {
         position: relative;
         margin-right: 24px;

         &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: rgb(145, 158, 171);
            right: -14px;
         }

         & a:hover {
            text-decoration: underline;
         }
      }

      & .page-title-item-last {
         color: rgb(145, 158, 171);
      }
   }

   & .search-box {
      flex: 1;
      justify-self: flex-start;
      & .search-engine {
         display: flex;
         flex-direction: row;
         padding-left: 14px;
         color: rgb(145, 158, 171);
         font-size: 1rem;
         align-items: center;
         height: 40px;
         width: 190px;
         border: 1px solid rgb(145, 158, 171);
         border-radius: 3px;
         transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
         cursor: pointer;

         &:hover {
            border: 1px solid var(--black-color);
         }

         &:focus-within {
            width: 230px;
            box-shadow: rgba(145, 158, 171, 0.24) 0px 8px 16px 0px;
            border-color: var(--main-color);
         }

         & .icon-search {
            height: 100%;
         }

         & .input-search {
            & input {
               width: 100%;
               padding: 9px 14px 9px 14px;
               background-color: transparent;
               font-weight: 500;
               font-size: 1rem;
            }
         }
      }
   }

   & .header {
      position: sticky;
      top: 0;
      background-color: rgba(243, 244, 248, 0.72);
      backdrop-filter: blur(6px);
      z-index: 99;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      color: var(--sub-title-color);
      max-width: 100%;
      width: 100%;
      height: 60px;
      padding: 12px 30px 12px 24px;

      .header-right {
         flex: 1;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: flex-end;
      }
   }

   .language {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      color: var(--sub-title-color);
      cursor: pointer;

      &:hover {
         color: var(--main-color);
      }

      & span {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         margin-left: 2px;
         font-size: 10px;
      }

      & .language-popper {
         display: none;
         top: 25px;
         right: 0px;
         position: absolute;
         z-index: 999;
         height: 157px;
         width: 300px;
         border: 1px solid var(--sub-main-border-color-hover);
         margin-top: 12px;
         margin-left: 4px;
         background-color: rgb(255, 255, 255);
         color: var(--text-color);
         border-radius: 3px;
         box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
            rgba(145, 158, 171, 0.24) 0px 20px 40px -4px;
         border: 1px solid var(--sub-main-border-color-hover);

         & .title {
            display: flex;
            height: fit-content;
            max-width: 100%;
            padding: 16px 20px;
            border-bottom: 1px solid rgba(196, 205, 213, 1);

            & h6 {
               font-size: 1.125rem;
               font-weight: 700;
            }
         }

         & .list-lang {
            padding: 8px 0;
            height: fit-content;

            & li {
               display: flex;
               max-width: 100%;
               align-items: center;
               padding: 8px 16px;
               transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1)
                  0ms;
               font-weight: 600;

               &:hover {
                  background-color: var(--sub-main-border-color-hover);
               }

               & .nation-flag {
                  height: 24px;
                  width: 24px;
                  margin-right: 16px;

                  & img {
                     height: 100%;
                     width: 100%;
                     border-radius: 50%;
                  }
               }
               & p {
                  font-size: 16px;
               }
               & .check {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  font-size: 20px;
                  flex: 1;
               }
            }
         }
      }
   }

   .notification {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      margin-left: 10px;
      cursor: pointer;
      user-select: none;

      & .icon {
         height: 16px;
         width: 16px;
      }

      &:hover {
         border-radius: 50%;
         background-color: rgba(99, 115, 129, 0.08);
      }

      & .quantity-noti {
         display: flex;
         flex-flow: wrap;
         place-content: center;
         align-items: center;
         position: absolute;
         box-sizing: border-box;
         font-size: 0.75rem;
         font-weight: 700;
         min-width: 20px;
         line-height: 1;
         padding: 0px 6px;
         height: 20px;
         border-radius: 10px;
         z-index: 1;
         transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
         background-color: rgb(211, 49, 49);
         color: rgb(255, 255, 255);
         top: 10px;
         right: 10px;
         transform: scale(1) translate(50%, -50%);
         transform-origin: 100% 0%;
         cursor: pointer;
         user-select: none;
      }

      & .notification-popper {
         top: 40px;
         right: 0px;
         position: absolute;
         z-index: 999999;
         display: none;
         height: 460px;
         width: 360px;
         border: 1px solid var(--sub-main-border-color-hover);
         margin-top: 12px;
         margin-left: 4px;
         background-color: rgb(255, 255, 255);
         color: var(--text-color);
         border-radius: 3px;
         box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
            rgba(145, 158, 171, 0.24) 0px 20px 40px -4px;

         & .title {
            display: flex;
            height: fit-content;
            max-width: 100%;
            padding: 16px 20px;
            border-bottom: 1px solid rgba(196, 205, 213, 1);

            & h6 {
               font-size: 1.1rem;
               font-weight: 700;
            }
         }

         & .list-nofi {
            display: block;
            overflow: auto;
            max-height: calc(460px - 60px);
            box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
               rgba(145, 158, 171, 0.24) 0px 20px 40px -4px;

            & li {
               display: flex;
               justify-content: flex-start;
               align-items: flex-start;
               padding: 8px 16px;
               cursor: pointer;
               background-color: rgb(243, 244, 248);
               transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1)
                  0ms;
               color: var(--sub-title-color);

               & .user-img {
                  display: block;
                  width: 40px;
                  height: 40px;
                  margin-right: 16px;
                  border-radius: 50%;
                  overflow: hidden;
                  user-select: none;
                  color: var(--sub-title-color);
                  background-color: rgb(196, 205, 213);

                  & img {
                     width: 100%;
                     height: 100%;
                  }
               }

               & .content-nofi {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;

                  & .content {
                     font-size: var(--font-size-small);
                     color: var(--text-color);

                     padding: 0;
                  }

                  & .time {
                     font-size: var(--font-size-small);
                     font-weight: var(--font-weight-semi-bold);
                  }
               }
            }
         }
      }
   }

   .theme-mode {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      margin-left: 10px;
      color: var(--main-color);
      font-size: 1.5rem;
      cursor: pointer;

      & .icon {
         height: 24px;
         width: 24px;
      }

      &:hover {
         border-radius: 50%;
         background-color: rgba(99, 115, 129, 0.08);
      }
   }

   .user-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      font-size: 1.25rem;
      line-height: 1;
      border-radius: 50%;
      margin-left: 10px;
      overflow: hidden;
      user-select: none;

      & img {
         position: relative;
         width: 100%;
         height: 100%;
         text-align: center;
         object-fit: cover;
         color: transparent;
         cursor: pointer;
      }

      & .menu-popper {
         display: none;
         position: absolute;
         z-index: 999;
         top: 52px;
         right: 50px;
         height: fit-content;
         width: fit-content;
         border: 1px solid var(--sub-main-border-color-hover);
         margin-top: 12px;
         margin-left: 4px;
         background-color: rgb(255, 255, 255);
         color: var(--text-color);
         border-radius: 3px;
         box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
            rgba(145, 158, 171, 0.24) 0px 20px 40px -4px;
         transition: opacity 289ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            transform 192ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
         box-sizing: border-box;

         & .title {
            display: block;
            height: fit-content;
            max-width: 100%;
            margin-top: 12px;
            margin-bottom: 12px;
            padding-left: 20px;
            padding-right: 20px;

            & b {
               font-size: 16px;
            }

            & p {
               font-size: var(--font-size-small);
               margin-top: 6px;
               color: var(--sub-title-color);
            }
         }

         & .list-options-menu {
            border-top: 1px solid rgb(196, 205, 213);
            margin-top: 8px;
            padding-top: 8px;
            display: flex;
            justify-content: flex-start;

            & li {
               height: fit-content;
               max-width: 100%;
               padding: 8px 20px;

               & a {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  color: var(--black-color);

                  & .icon {
                     user-select: none;
                     margin-right: 16px;
                     width: 18px;
                     height: 18px;
                  }

                  & p {
                     font-size: var(--font-size-small);
                     font-weight: 500;
                  }
               }

               &:hover {
                  background-color: var(--sub-main-border-color-hover);
               }
            }
         }

         & .logout {
            padding: 16px 20px;

            & .button-logout {
               background-color: transparent;
               display: block;
               width: 100%;
               font-size: var(--font-size-small);
               line-height: 1.71429;
               text-align: center;
               padding: 5px 15px;
               font-weight: 700;
               color: var(--black-color);
               border: 1px solid var(--sub-main-border-color);
               cursor: pointer;
               transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
                     0ms,
                  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                  color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

               &:hover {
                  background-color: var(--sub-main-border-color-hover);
               }
            }
         }
      }
   }

   & .content {
      width: 100%;
      height: 100%;
   }
}

.toggle-sidebar {
   margin-right: 20px;
   display: none;
   justify-content: flex-start;
   align-items: center;
   height: fit-content;
   width: fit-content;
   padding: 8px;
   border-radius: 50%;
   background-color: transparent;
   transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   font-size: 1.25rem;
   color: var(--text-color);
   cursor: pointer;
   user-select: none;

   &:hover {
      background-color: rgba(99, 115, 129, 0.08);
   }
}

.active {
   display: none !important;
}

@media screen and (max-width: 1230px) {
   .toggle-sidebar {
      display: inline-flex;
   }

   .active {
      display: none;
   }
}

@media screen and (min-width: 1230px) {
   .active {
      display: block !important;
   }
   .sideBarModal {
      display: none !important;
   }
   .modal-sidebar {
      display: none !important;
   }
}

@media screen and (max-width: 768px) {
   .header-right {
      gap: 10px;
   }

   .search-engine {
      height: 35px !important;
      width: 150px !important;
      font-size: 14px !important;
   }
   .input-search {
      & input {
         font-size: 14px !important;
      }
   }

   .language,
   .notification {
      font-size: 14px !important;
   }

   .notification-popper {
      height: 460px !important;
      width: 300px !important;
   }
   .language {
      font-size: 13px !important;
   }
   .language-popper {
      width: 280px !important;
      font-size: 14px !important;
   }
}
