.wrapper {
  position: relative;
  max-width: 100%;
  background: var(--main-color);
  border-radius: 0px 0px var(--big-boder-radius) var(--big-boder-radius);
  padding: var(--content-padding-horizontal) var(--content-padding-horizontal) 128px;
}

.content {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: var(--content-padding-horizontal) auto 0px;
  padding: 0px 24px;
  width: fit-content;
  max-width: 100%;
}

.formData {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.auth-button,
.back-button {
  user-select: none;
  width: 100%;
  font-size: var(--font-size-small);
  padding: 8px 22px;
  height: var(--height-button);
  border-radius: var(--mini-border-radius);
  font-weight: 700;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--main-color);
  box-shadow: rgba(82, 95, 225, 0.24) 0px 8px 16px 0px;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    background-color: var(--button-hover-color);
    box-shadow: none;
  }
}

.back-button {
  background-color: var(--white-color);
  margin-top: 5px;
  box-shadow: none;
  padding: 0;

  &:hover {
    background-color: rgb(241, 242, 253, 1);
    box-shadow: none;
  }

  & a {
    color: var(--main-color);
  }
}
