.column-items {
   width: 100%;
   display: flex;
   align-items: center;
   flex: 1;
   margin-top: 24px;
   margin-right: 24px;
   padding: 8px 16px;
   background-color: rgb(255, 255, 255);
   color: var(--text-color);
   transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   border-radius: 8px;
   z-index: 0;
   box-shadow: rgba(19, 25, 39, 0.1) 0px 10px 32px -4px,
      rgba(19, 25, 39, 0.12) 0px 6px 14px -6px;

   & .item-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      & .items-content-title {
         justify-items: flex-start;

         & h2 {
            font-weight: var(--font-weight-semi-bold);
         }
      }

      & .items-content-icon {
         flex: 1;
         display: flex;
         justify-content: flex-end;

         & .icon {
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            border-radius: 3px;
            background: rgba(82, 95, 225, 0.9);
            color: rgb(255, 255, 255);
            box-shadow: rgba(82, 95, 225, 0.24) 0px 8px 16px 0px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
               box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
               border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
               color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

            &:hover {
               background-color: rgb(0, 100, 202);
               box-shadow: none;
            }
         }
      }
   }
}
