.add-layout {
    padding-bottom: 16px;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 16px;
}

.left-column {
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: rgba(19, 25, 39, 0.1) 0px 10px 32px -4px,
        rgba(19, 25, 39, 0.12) 0px 6px 14px -6px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.right-column {
    flex: 4;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button {
    height: fit-content;
    width: 100%;
    padding: 8px 22px;
    font-size: 0.9375rem;
    font-weight: 800;
    text-align: center;
    border-radius: 3px;
    color: var(--white-color);
    background-color: rgb(82, 95, 225);
    box-shadow: rgba(82, 95, 225, 0.24) 0px 8px 16px 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: rgb(0, 100, 202);
        box-shadow: none;
    }
}

.disable_button {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}
