.input,
.textarea,
.select {
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: center;
  height: fit-content;
  font-size: 1.1rem;
  font-weight: var(--font-weight-semi-bold);
  color: var(--text-color);
  border-radius: var(--mini-border-radius);
  border: 1px solid rgb(228, 230, 239);

  &:focus-within {
    border: 2px solid var(--border-active-color);

    & .label {
      color: var(--main-color);
    }
  }

  & > *:not(label) {
    padding: 16px 0px;
  }

  & .icon-left,
  .icon-right {
    cursor: pointer;
    color: var(--sub-title-color);
  }

  & .icon-left {
    padding-left: 14px;
  }

  & .icon-right {
    padding-right: 14px;
  }

  & input,
  textarea,
  select {
    width: 100%;
    color: currentColor;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-medium);
    flex: 1;
    padding-left: 14px;
    padding-right: 14px;
  }

  & select,
  textarea {
    outline: none;
    border: none;
    resize: none;
  }

  &:hover:not(:focus-within) {
    border: 1px solid var(--black-color);
  }

  &.active {
    border: 2px solid var(--border-active-color);

    &:hover {
      border: 2px solid var(--border-active-color);
    }

    & .label {
      color: var(--main-color);
    }
  }
}

.label {
  background-color: transparent;
  font-size: 1rem;
  font-weight: var(--font-weight-semi-bold);
  background-color: var(--white-color);
  color: var(--icon-label-color);
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(133% - 32px);
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(18px, -10px) scale(0.75);
  pointer-events: auto;
  user-select: none;
  z-index: 1;
  padding: 0 10px;
}
