.apexcharts-tooltip.apexcharts-theme-light {
   color: var(--text-color);
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 0.5px;
   border: none;
}

.apexcharts-tooltip-title {
   display: none;
}

.apexcharts-tooltip.apexcharts-theme-light.apexcharts-active {
   background-color: rgba(82, 95, 225, 0.72);
   box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 4px 0px,
      rgba(145, 158, 171, 0.24) 0px 24px 48px 0px;
   outline: none;
   border: none;
}
